@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Athiti', sans-serif;
}

body {
  padding: 5%;
  background-color: #E5E5E5;
  height: max-content;
}

main {
  padding: 2rem;
  display: flex;
  height: 150%;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 0.6rem;
}




.submain-one-form {
  width: 80%;
  margin: 4.8rem auto;
}

.submain-one-form-header {
  margin-bottom: 2.5rem;
}

.submain-one-form-header > h1 {
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  line-height: 2.9rem;
  color: #0B4654;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 850px) {
  body {
    padding: 0%;
    /* background-color: #E5E5E5; */
    height: max-content;
  }

  main {
    font-size: 10px;
    max-height: max-content;
    height: fit-content;
    margin: 0;
  }

  .submain-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .submain-zero {
    width: 100%;
  }

  .submain-zero-image {
    width: 100%;
  }

  .submain-one-form {
    width: 100%;
    margin-top: 1.2rem;
  }

  .submain-one-form-header > h1 {
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    color: #0B4654;
    text-align: center;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 850px) {
  .submain-zero-image-cover {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .subdomain-one-form-body-subsection-one-button {
    width: 100%;
    margin-top: 2.4rem;
  }
}
